/* PopMenu.css */

.custom-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dimming effect */
  z-index: 1000; /* Ensure it appears above other content */
}

.custom-popup-content {
  position: absolute;
  top: 120px; /* Adjust this value according to your navbar height */
  right: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the popup is above other elements */
  font-family: "proxima-nova";
  transition: top 0.3s ease;
}



/* .custom-popup-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
} */

.custom-popup-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-popup-content li {
  display: flex; /* Use flexbox to make icon and text inline */
  align-items: center; /* Align items vertically */
  margin-bottom: 16px;
  cursor: pointer;
}

.popup-avatar-container {
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  width: 100%; /* Ensure the container takes full width */
  height: 100%; /* Ensure the container takes full height */
  margin-bottom: 0.5em;
}

.popup-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}


.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; /* Center icon horizontally */
  width: 32px; /* Adjust the width of the icon container */
  font-size: 20px; 
}

.text-wrapper {
  font-size: 18px; 
  padding-left: 10px;
  margin-left: 10px; /* Add some space between the icon and text */
}

.profile-popup-username{
  font-size: 18px;
  text-align: center;
}

.profile-links{
  text-decoration: none;
  color: black;
}

.profile-links:hover{
  color: rgb(166, 0, 2);
}

.popup-title{
  text-align: center;
}
/* popup animation */

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.custom-popup-content.open {
  animation: slideIn 0.4s forwards;
}

.custom-popup-content ul li {
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;
}

.custom-popup-content ul li:nth-child(1) {
  animation-delay: 0.3s;
}

.custom-popup-content ul li:nth-child(2) {
  animation-delay: 0.4s;
}

.custom-popup-content ul li:nth-child(3) {
  animation-delay: 0.5s;
}

.custom-popup-content ul li:nth-child(4) {
  animation-delay: 0.6s;
}

.custom-popup-content ul li:nth-child(5) {
  animation-delay: 0.7s;
}

.custom-popup-content ul li:nth-child(6) {
  animation-delay: 0.8s;
}