.public-profile-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.public-profile-content {
	background-color: white;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	gap: 1.5em;
}

.public-profile-image-container {
	display: flex;
	flex-direction: column;
	padding: auto;
}

.public-profile-picture {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-bottom: 10px;
}

.public-profile-info-container {
	/* Add padding to the left */
	margin-top: 20px;
	padding: auto;
}

.public-profile-li {
	display: flex;
	align-items: center;
	margin-bottom: 10px; /* Adjust spacing between list items */
	font-size: 1.5em;
}

.public-profile-text-wrapper {
	font-size: 18px; /* Adjust text size */
	font-family: "proxima-nova";
	margin-left: 0.5em;
}

.star-rating {
	color: gold;
	padding-left: 55px;
}

.public-profile-date-text {
	font-size: 16px;
	text-align: center;
	font-family: "proxima-nova";
}

.public-profile-ul {
	list-style-type: none;
	text-align: center;
}

.public-profile-name {
	text-align: center;
	font-size: 2em;
}
