@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Logo img {
	width: 250px;
}

.Navbar-container {
	display: flex;
	justify-content: space-between;
	color: rgb(0, 0, 0);
	position: relative;
	z-index: 3;
	padding: 1.7em;
	background: rgb(224, 226, 223);

}

.Navbar {
	display: flex;
	align-self: center;
	font-size: 1.5em;
	gap: 2em;
}

.Navbar li {
	list-style: none;
	font-family: "Bebas Neue", sans-serif;
	letter-spacing: 0.2rem;
	font-size: 1.25rem;
	vertical-align: middle;
}

.nav-icons {
	display: flex;
	list-style: none;
	gap: 2rem;
	font-size: 1.3rem;
	align-self: center;
}

.nav-icons a {
	color: black;
	
}

input[type="text"] {
	padding: 6px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	transition: border-color 0.3s ease;
	font-family: "proxima nova";
}

input[type="text"]:focus {
	outline: none;
	border-color: rgb(166, 0, 2);
}

h1 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 300;
	font-size: 10rem;
	line-height: 11rem;
	margin-left: 2.5em;
	margin-top: 0.4em;
	color: white;
}

.color {
	/* color: #f4254e; */
	color: rgb(166, 0, 2);
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content h1 {
	position: relative;
	z-index: 1;
	font-size: 10em;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mainexplore-button {
	position: absolute;
	background: transparent;
	left: 900px;
	bottom: 130px;
	width: 8%;
	height: 6%;
	font-size: 0.9em;
	border: 1px solid black;
	z-index: 3;
	font-family: "proxima nova";
}

.mainexplore-button:hover {
	background: black;
	color: white;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.Navbar a,
.footer a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: rgb(166, 0, 2);
}

h2 {
	font-family: "Bebas Neue", sans-serif;
	color: rgba(4, 10, 43);
	font-weight: 300;
	font-size: 5rem;
	line-height: 5rem;
}

p {
	line-height: 2em;
	color: rgba(4, 10, 43);
	font-size: 1.1em;
}

.footer {
	background: rgb(224,226,223);
	color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'proxima nova';
}

.footer {
	margin-top: 3em;
	padding: 2em;
}

.footer img {
	width: 130px;
}

.footer li {
	line-height: 2.5em;
	list-style: none;
}

.fa-brands {
	font-size: 22px;
	margin-left: 1em;
}


.footer div p {
	font-size: 1em;
	margin-left: -2em;
	line-height: 3em;
}

.icons li {
	color: rgb(166, 0, 2);
	font-size: 1.15em;
}

.img-container {
	height: 1000px;
}

.para {
	font-size: 3em;
	color: rgb(34, 33, 33);
	position: absolute;
	top: 300px;
	left: 400px;
	font-family: "Bebas Neue", sans-serif;
	line-height: 1.5em;
	/* border: 3px solid white; */
	padding: 1em;
}

.hashtag {
	font-size: 0.4em;
	font-family: "proxima nova";
}

.main-border {
	position: relative;
	border: 5px rgb(255, 255, 255) solid;
	height: 650px;
	width: 1500px;
	left: 200px;
	z-index: 2;
}

/* please dont change the following */
.navbar-login-btn button{
	font-family: "proxoma nova";
	background: transparent;
	padding: 3px 6px;
	font-size: 0.9em;
	border: 1px solid black;
}

.navbar-login-btn button:hover{
	color: white;
	background: black;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}