/* .main-layout{
    padding-top: 200px;
}


.item-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardMain {
    border: 1px solid rgb(166,0,2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
}

.cardMain img {
    max-width: 100%; 
    height: auto; 
    height: auto;
    border-radius: 5px;
}

.cardMain h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    margin-top: 10px;
    display: flex;
    justify-self: left;
}

.cardMain p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

.cardMain .rating {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
}

.cardMain h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    color: rgb(166, 0, 2);
    margin-top: 5px;
}

.feature-button {
	background: none;
	border: none;
	line-height: 1.5em; 
    font-family: 'Bebas Neue', sans-serif;
}

.feature-button:hover {
  cursor: pointer;
}
//move the following to card2.css
.notification {
   position: fixed;
    bottom: 50px;
    right: 100px;
font-weight: bold;
    background-color: #cccbcb; /* Green 
    color: rgb(33, 33, 33);
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s ease;
  }
  
  .notification.hide {
    opacity: 0;
  }
  

} */

