.main-layout{
    padding-top: 200px;
}

 .item-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardMain {
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
    width: 300px; 
    display: flex;
    flex-direction: column;
}

.card-image-container{
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.card-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cardMain h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

.card-para-wrapper{
    padding-left: 1em;
}

.cardMain h3 {
    font-family: 'proxima-nova';
    font-size: 1.1rem;
    color: rgb(166, 0, 2);
    margin-top: 5px;
}

.card-description-container {
    background: rgb(224,226,223);
    padding-top: 1em;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.feature-button {
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    background: rgb(0, 0, 0);
    font-size: 1.3em;
    color: white;
    width: 100%;
    margin-top: auto;
    padding-top: 3px;
}

.feature-button:hover {
    cursor: pointer;
}
