.main-layout{
    padding-top: 200px;
}


.item-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardMain {
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
}


.card-image-container{
    height: 250px;
    width: 250px;
}

.card-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   
}

.cardMain h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.6rem;
    margin-top: 10px;
}

.cardMain p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

.cardMain .rating {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
}

.cardMain h3 {
    font-family: 'proxima-nova';
    font-size: 1rem;
    color: rgb(166, 0, 2);
    margin-top: 5px;
}

.card-description-container{
    background: rgb(224,226,223);
}

.feature-button {
	background: none;
	border: none;
	/* border-bottom: 2px solid #f4254e; */
	line-height: 1.5em; 
    font-family: 'Bebas Neue', sans-serif;
}

.feature-button:hover {
  cursor: pointer;
}
