@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.category-grid{
    border-top: 1px solid rgb(166,0,2);
    border-bottom: 1px solid rgb(166,0,2); 
    display:flex;
    gap: 20px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 20px;
    padding: 20px;
}
.category-link {
    color:black;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.25rem;
}

.category-image {
    width: 50px;
    height: 50px;
}

/* CSS */
.select-container {
    margin-bottom: 1rem;
}

.select-container select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.display-product {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.filer-container{
    display:flex;
    justify-content: end;
    margin-right: 20px;
}
/* Adjust card width for responsiveness 
@media screen and (min-width: 768px) {
    .display-product {
        justify-content: center;
    }
}
*/