/* Main containers */
.MainContainer,
.FirstMainContainer,
.SecondMainContainer,
.ThirdMainContainer,
.FourthMainContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
}

.MainContainer {
    padding-top: 150px; /* Only apply padding-top to .MainContainer */
}

.FirstMainContainer .left,
.FirstMainContainer .right,
.SecondMainContainer .left,
.SecondMainContainer .right,
.ThirdMainContainer .left,
.ThirdMainContainer .right {
    flex: 1;
    min-width: 300px; /* Adjust this value as needed to prevent items from becoming too narrow */
    margin: 10px; /* Adjust spacing between left and right */
}

.FourthMainContainer {
    width: 100%; /* Make the FourthMainContainer full width */
    flex-direction: column; /* Ensure it stacks in a column */
}

.FourthMainContainer .ShopItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Product Container */
.ProductContainer {
    display: flex;
}

.ProductDescription {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ProductInfo {
    flex: 1;
}

.ProductImage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.additional-images img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.options {
    width: 60px;
    height: 60px;
}

.options img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.ProductImage {
    display: flex;
    flex-direction: column;
}

.item-main {
    width: 400px;
    height: 400px;
}

.DescriptionContainer {
    width: 45%;
    padding: 20px;
    margin-top: 20px;
}

.itempage-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.itempage-para {
    margin-bottom: 10px;
}

.DescriptionContainer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.DescriptionContainer p {
    font-size: 16px;
    margin-bottom: 5px;
}

.DescriptionContainer p:last-child {
    margin-bottom: 0;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-buttons-container {
    display: flex;
    align-items: center;
    max-width: 600px;
    max-height: 600px;
    justify-content: space-evenly;
}

.admin-buttons {
    font-family: "proxoma nova";
    background: transparent;
    padding: 5px 20px;
    font-size: 1em;
    border-radius: 5px;
    width: 80px;
    border: 1px solid rgb(166, 0, 2);
    border-color: rgb(166, 0, 2);
}

.admin-buttons:hover {
    color: white;
    background: rgb(166, 0, 2);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

/* Modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.max-img {
    max-width: 200px;
    max-height: 200px;
    transition: max-width 0.3s, max-height 0.3s;
}

.MainImageContainer {
    width: 25vw; /* Fixed size square container */
    height: 25vw; /* Fixed size square container */
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    margin-bottom: 20px;
    overflow: hidden; /* Ensure images fit inside container */
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
}

.secondary-images {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: calc(100% - 25vw); /* Ensure secondary images fit within remaining width */
}

.secondary-image {
    width: calc(25% - 10px); /* About 1/6 width of the main image with gap */
    height: calc(25% - 10px); /* Fixed size square container */
    overflow: hidden; /* Ensure images fit inside container */
    border-radius: 5px;
}

.secondary-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover container */
}
