.chat-box {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.messages-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 3; /* Three quarters width */
  padding: 1rem;
  overflow-y: auto;
}

.send-message {
  flex: 1; /* Three quarters width */
  padding: 1rem;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.send-message input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-message button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message {
  max-width: 60%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
  background-color: #add8e6; /* Light blue */
  color: #000;
}

.received {
  align-self: flex-start;
  background-color: #90ee90; /* Light green */
  color: #000;
}

.message-page {
  padding-top: 150px;
  display: flex;
  height: 100vh;
}

.user-chats-container {
  flex: 1;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.user-chats {
  display: flex;
  flex-direction: column;
}

.user-chats > div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.user-chats > div:hover {
  background-color: #eaeaea;
}

.message-area {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.message-display {
  flex: 3;
  overflow-y: auto;
  padding: 10px;
}

.message-input {
  flex: 1;
  padding: 10px;
}

.no-conversation {
  padding: 20px;
  font-size: 18px;
  text-align: center;
}
