.shopping-cart-outer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(224, 226, 223);
  padding-top: 200px;
}

.shopping-cart {

  width: 70%;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  
}

.items-list {
  padding: 30px;
  display: grid;
  gap: 20px;
 
  
}

.no-items {
 /* position: relative;
 top: 50px; */
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.no-items span {

  color: #a50313;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  
}






.item-image {
  width: 6rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #dbd9d9;
}

.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
 
}

.delete-button,
.add-item {
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.delete-button {
  border: none;
  background-color: #fff;

  font-size: 15px;
}

.delete-button:hover {
  background-color: #d9d7d7; /* Change to your preferred hover color */
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add a box shadow for a more pronounced effect */
}

.delete-all-button {
  background-color: #a50313;
  color: white;
  border: none;
}

.add-item {
  background-color: #4681f4;
  color: azure;
  border: none;
}

.quantity-select {
  
  border: none;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(193, 188, 188);
  margin-left: 10px;
  
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 1.2em;
}

.cart-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Payment.css */
.payment-container {
  width: 30%;
  margin-left: 20px;
}

.payment-options {
  display: grid;
  gap: 10px;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-option img {
  width: 50px;
  height: 50px;
}

.klrna-icon {
  width: 70px;
  height: 40px;
  margin-left: 20px;
}

.paypal-icon {
  margin-left: 20px;
}

.radio-box {
  transform: scale(2.0);
  margin-right: 20px;
}

.payment-details {
  margin-top: 20px;
}

.proceed-button {
  background-color: #4681f4;
  color: azure;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.proceed-button:hover {
  background-color: #2a5d9c;
}

.item-details{
  margin-left: 10px;
  font-family: "Proxima nova";
  
}

.item-price{
  color: #a50313;
  font-size: 15px;
  
}
.emptyCart{
  width: 30%;
  
  
}
.cart-item h6 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1rem;
  color: rgb(166, 0, 2);
  margin-top: 5px;
}