.config-background {
	/* background: rgb(224,226,223); */
	background: white;
}

.config-container {
	display: flex;
	margin: 0em 3em;
	padding-top: 150px;
}

.left-div {
	flex: 1;
	overflow-y: auto;
}

.right-div {
	flex: 1;
	position: sticky;
	top: 6em;
	height: 70vh;
	overflow-y: auto;
	margin-top: 11em;
}

.quote-popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote-popup {
	background: white;
	padding-bottom: 20px;
	border-radius: 10px;
}

.quote-popupwindow-button {
	margin-top: 20px;
	text-align: center;
}

.quote-popup-close-btn, .quote-popup-post-btn {
	padding: 4px 10px;
	border-radius: 5px;
	font-family: "proxima-nova";
	background: rgb(224,226,223);
	border: 1px solid rgba(27, 31, 35, 0.15);
}

.quote-popup-close-btn:hover, .quote-popup-post-btn:hover {
	background: #f0f0f0
}

.upload-file {
	padding: 20px;
}

.button-quote {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.button-quote button {
	padding: 7px 20px;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	cursor: pointer;
	font-family: "proxima nova";
	font-size: 1.2em;
	background: rgb(166,0,2);
    margin-top: 1em;
}

.config-quantity {
	display: flex;
	gap: 0.7em;
	margin-top: 1em;
	font-size: 1.2em;
	font-family: "proxima nova";
}

.config-quantity input {
	font-family: "proxima nova";
	border: 1px solid lightgray;
	font-size: 0.8em;
}

.config-input {
	margin-left: 2.8em;
}

.config-input2 {
	margin-left: 1.5em;
	padding-left: 0.4em;
	border-radius: 5px;
}

.config-description{
	font-size: 0.8em;
	padding-left: 0.4em;
	width: 230px;
	border-radius: 5px;
}

.file-content {
	font-family: "proxima nova";
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	gap: 3em;
}

.file-content a {
	text-decoration: none;
	color: black;
}


.validation-popup button{
	align-self: center;
	padding: 4px 10px;
	border-radius: 5px;
	font-family: "proxima-nova";
	background: rgb(224,226,223);
	border: 1px solid rgba(27, 31, 35, 0.15);
}

.config-background {
	position: relative;
  }

  .config-background.dull-background::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
  }
  
  .validation-popup {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	z-index: 1000;
  }
  

  .estimated-cost{
	text-align: center;
	font-size: 1.3em;
	color:  rgb(166,0,2);
	font-weight: bold;

  }
  
  .config-file-posting{
	text-align: center;
	color: gray;
	font-family: "proxima-nova";
	margin-top: 1em;
  }

  @keyframes dot-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading-dots span {
    animation: dot-blink 1.4s infinite both;
}

.loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}