.wrapper-outter {
	margin: 2em;
	padding: 2em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.material-container {
	display: flex;
	margin-top: 1em;
}

.description-wrapper {
	display: flex;
	flex-direction: column;
	padding-left: 2em;
}

.prosandcons {
	display: flex;
	gap: 2em;
}

.pros,
.cons {
	background: rgb(224,226,223);
	padding: 1em;
    border-radius: 10px; 
}

h3 {
	font-family: "Bebas Neue", sans-serif;
	font-size: 2em;
}

.material-outter select {
	font-size: 1.2em;
}

.material-intro {
	display: flex;
	justify-content: space-between;
}

.wrapper-outter h2 {
	font-size: 3em;
	text-align: left;
}

.dropdown {
    border-radius: 10px;
	border: none;
	padding: 0.5em;
	font-family: "proxima nova";
    background: rgb(224,226,223);
}

p,
.prosandcons {
	font-family: "proxima nova";
}

.material-picture img {
    border-radius: 10px; 
}


h1{
    font-size: 4.5em;
    margin-left: 1em;
    margin-top: 1em;
  }
