@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.nav-logo img {
	width: 250px;
}

.nav-logo {
	position: relative;
	display: flex;
	align-items: center;
  }

  .logo-img {
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease-in-out;
  }
  
  .logo-img.hidden {
	opacity: 0;
  }
  
  .logo-img.visible {
	opacity: 1;
  }

.Navbar-container {
	height: 150px;
	display: flex;
	justify-content: space-between;
	color: rgb(0, 0, 0);
	/* position: relative; */
	z-index: 3;
	padding: 2em;
	background: rgb(224, 226, 223);
	/* align-items: center; */
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: height 0.3s, background-color 0.3s;
}

.Navbar li {
	list-style: none;
	font-family: "Bebas Neue", sans-serif;
	letter-spacing: 0.2rem;
	font-size: 1.25rem;
	vertical-align: middle;
}

.nav-icons {
	display: flex;
	list-style: none;
	gap: 2rem;
	font-size: 1.3rem;
	align-items: center;
}

.nav-icons a {
	color: black;
}

.Navbar a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: rgb(166, 0, 2);
}

.navbar-login-btn button {
	font-family: "proxoma nova";
	background: transparent;
	padding: 1px 7px;
	font-size: 0.8em;
	/* border: none; */
	border: 1px solid black;
}

.navbar-login-btn button:hover {
	color: white;
	background: black;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.navbar-conditional-icon {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.icon-pointer{
	cursor: pointer;
}

.icon-pointer:hover{
	color: rgb(166, 0, 2);
}

.navbar-sell-btn button {
	border: none;
	/* background: rgb(166, 0, 2);
	color: white;
	border-radius: 5px;
	padding: 1px 8px; */
	color: rgb(166, 0, 2);
	background: none;
	font-family: "proxoma nova";
	/* font-family: "Bebas Neue", sans-serif; */
	font-size: 22px; 
	font-weight: bold;
}

/* .navbar-sell-btn button:hover {
	font-weight: 700;
} */

.nav-search {
	align-self: center;
}

.nav-search input {
	width: 600px;
	font-size: 18px;
	border-radius: 0px;
}


.Navbar-container.small {
	height: 70px;
}

/* search button for search bar */
/* 
.nav-search-btn{
    border: none;
    padding: 0.3em;
    background: lightgray;
    border-radius: 10px;
} 

.nav-search {
    position: relative;
}

.nav-search input {
    width: 600px;
    padding-right: 30px;
}

.nav-search::before {
    content: "\f002"; 
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #999; 
    font-size: 18px;
    pointer-events: none;
} */

/* Responsive styles */
@media (max-width: 768px) {
    .Navbar-container {
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    .nav-logo img {
        width: 150px;
    }

    .nav-search {
        margin: 0em 0;
        width: 80%;
    }

    .nav-search input {
        width: 100%;
        padding: 0.5em;
		font-size: 12px;
    }

    .nav-icons {
        display: none;
        flex-direction: column;
        gap: 1em;
        width: 100%;
    }

    .nav-icons.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .menu-toggle button {
        background: none;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
    }
}