/* *{
    font-family: 'Bebas Neue', sans-serif;
    box-shadow: none;
} */

.product-reg-form-outter {
	background: #f0f0f0;
	margin-bottom: -3em;
	padding-top: 200px;
}

.product-reg-form-outter h1 {
	font-size: 4em;
	margin: 0em;
	padding: 1em 0em 0em 4em;
	color: black;
}

.product-reg-form {
	display: flex;
	margin: 2em 15em;
	flex-direction: column;
	font-family: "proxima nova";
	font-size: 1.4em;
	background: white;
	border-radius: 10px;
	padding: 1em 0em;
	color: black;
}
.product-reg-form label {
	border-radius: 8px;
	padding: 1em;
	margin: 0.5em 2em;
}

.product-reg-form label {
	margin-bottom: 10px;
}

.product-reg-form input,
.product-reg-form select,
.product-reg-form textarea {
	width: 100%;
	padding: 4px;
	margin-top: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 0.7em;
}

.product-reg-form input[type="file"] {
	margin-top: 10px;
}

.product-reg-form textarea {
	resize: vertical;
	height: 100px;
}

.product-reg-submit {
	display: flex;
	justify-content: center;
}

.product-reg-submit button {
	padding: 7px 20px;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	cursor: pointer;
	font-family: "proxima nova";
	font-size: 1.2em;
	background: rgb(166, 0, 2);
	margin-top: 1em;
	margin-bottom: 4em;
}

.product-reg-submit button:hover {
	background-color: rgb(194, 41, 44);
}

.text {
	padding: 1em;
	margin: 1em 2em;
	margin-top: 0%;
	margin-bottom: 0;
	padding-bottom: 0;
}

.type-choice {
	margin-top: 0;
	margin-bottom: 0;
}
.type-choice label {
	margin: 0;
	box-shadow: none;
	border: none !important;
}

.product-reg-type {
	display: flex;
	justify-content: space-around;
}

.product-reg-tags {
	display: flex;
	gap: 1em;
	margin-top: 0.3em;
}
.product-reg-tags li {
	list-style: none;
	font-size: 0.8em;
	background: #f0f0f0;
	padding: 0.5em;
	border-radius: 10px;
}

.product-reg-remove-btn {
	background: red;
	color: white;
	border: none;
	border-radius: 50%;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 12px;
	margin-left: 5px;
}

.product-reg-remove-btn:hover {
	background-color: rgb(166, 0, 2);
}

.product-reg-img-type {
	margin-top: 1em;
}

.product-reg-form-image-container {
	display: flex;
	gap: 2em;
	flex-wrap: wrap;
	padding: 0em 2em;
	margin: 0em 1em;
	justify-content: center;
}

.product-reg-form-image {
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.product-reg-form-image-container img{
	object-fit: cover; 
	/* object-fit: contain;  */
}