.product-reg-form {
    border: 2px solid grey;
    display: flex;
    margin: 2em 4em;
    flex-direction: column;
    font-family: 'proxima nova';
    font-size: 1.5em;

}

.product-reg-form label{
    border-radius: 8px;
	/* width: 1200px; */
	padding: 1em;
    margin: 1em 2em;
	border: 2px solid #f0f0f0;
	transition: box-shadow 0.6s ease-out;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

