*{
    font-family: 'Bebas Neue', sans-serif;
    box-shadow: none;
}
.product-reg-form {
    
    display: flex;
    margin: 2em 4em;
    flex-direction: column;
    font-family: 'proxima nova';
    font-size: 1.5em;

}

.product-reg-form label{
    border-radius: 8px;
	/* width: 1200px; */
	padding: 1em;
    margin: 0.5em 2em;
	border: 2px solid #f0f0f0;
	transition: box-shadow 0.6s ease-out;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


  .product-reg-form label {
    margin-bottom: 10px;
  }
  

  .product-reg-form input,
  .product-reg-form select,
  .product-reg-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .product-reg-form input[type="file"] {
    margin-top: 10px;
  }
  
  .product-reg-form textarea {
    resize: vertical;
    height: 100px;
  }
  .product-reg-form button[type="submit"] {
    background: none;
	border: none;
	border-bottom: 2px solid #f4254e;
	line-height: 1.5em; 
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .product-reg-form button[type="submit"]:hover {
    background-color:  #f4254e; 
  cursor: pointer;
  }

.text{
    padding: 1em;
    margin: 1em 2em;
    margin-top: 0%;
    margin-bottom:0;
    padding-bottom: 0;
}
.type-choice{
    margin-top: 0;
    margin-bottom: 0;
}
.type-choice label{
    margin:0;
    box-shadow: none;
    border: none !important;
}