.review {
    margin-bottom: 20px;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  
  h3 {
    margin-bottom: 5px;
  }
  
  .info {
    font-size: 14px;
    color: #888;
  }
  
  .email {
    margin-right: 10px;
  }
  
  .date {
    margin-left: 10px;
  }

  .pagination{
    display: flex;
  }
  .pagination button{
    font-family: "proima-nova";
    padding: 1px 6px;
    background: rgb(226, 224, 223);
    border: 1px solid gray;
    border-radius: 2px;
  }

  .item-page-pagination-next{
    margin-left: 1em;
  }
  